/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Forum', cursive; 
	/*line-height: 1.6;*/
    color: black;
    text-align: center;
}

.name {
margin-left: 50px;
}

p {
	font-size: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
    text-align: center;
    color: gray;
}

.headline {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

img {
    width:300px;
}

h1 {
    font-size: 36px;
}

h2,
h3 {
	margin-top: 0;
}

a {
    text-decoration: none;
}

ul li {
    font-weight: bold; 
    margin: 50px; 
    padding: 10px 0; 
}

/* ================================= 
  Base Layout Styles
==================================== */

.profile-image {
    display:block;
}

/* ---- Navigation ---- */

/*.name,*/
.main-nav {
    float: right; 
}

.main-nav li {
	text-align: center;
	/*background: #fff;*/
	margin-top: 6px;
    margin-bottom: 6px;
    float:left;
}

/*.name a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}*/

.main-nav a {
    padding: 10px 15px;
	text-align: center;
	display: block;
    font-size: .95em;
    color: black;
    text-transform: uppercase;
}
	
.main-nav a:hover {
    color: royalblue;
}

/* ---- Layout Containers ---- */

.container {
	/*padding-left: 1em;
    padding-right: 1em;*/
    /*display: inline-block;*/
    height:auto;
    width: 100%;
    border: 5px solid red;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: white;
	margin-bottom: 30px;
    height: 110px; 
    overflow: hidden;
    width:100%;
    border: 5px solid red;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
    background:lightslategray;
    display: inline-block;
}

.cell{
    float:left;
    border: 5px solid red;
}

.wrap{
    width:100%;
    /*border: 5px solid red;*/
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    border: 5px solid red;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.portfolio > div {
    background-color: #f1f1f1;
    height: 350px;
    width: 400px;
    margin: 10px;
    text-align: center;
    /*line-height: 75px*/
    padding: 20px 20px 20px 20px;
    /*font-size: 30px;*/
}
/* ================================= 
  Media Queries
==================================== */

/*@media (min-width: 768px) {
    .portfolio {
        display: inline;
        justify-content: space-between;
    }
        
    .portfolio-image {
        max-width: 45%;
        margin: 0 auto; 
    }

    .container {
        width: 85%;
        max-width: 1150px;
        margin: 0 auto;
        display: inline;
    }
        
    .main-nav {
        float: right; 
    }

    .main-nav li {
        float: left; 
        margin-left: 12px; 
    }

    .name {
        float: left; 
    }
}*/